{% extends 'index.html' %}
{% block title %}Cases{% endblock %}
{% block content %}
{% if cases %}
    <div class="cases"> 
        <ol>    
            {% for case in cases %} 
                <li><a href="/cases/{{ case.age_group }}"></a>{{ case.age_group }}, {{ case.total_num_case }}, {{ case.total_num_death }}, {{ case.total_num_intensivecare }}</li>
                {% endfor %}
        </ol>  
    </div>

{% endif %}
{% if case %}
    <div class="cases">       
     <p>The following case is found:</p>
        <li><a href="/cases/{{ case.age_group }}"></a>{{ case.age_group }}, {{ case.total_num_case }}, {{ case.total_num_death }}, {{ case.total_num_intensivecare }}</li> 
    </div>
{% endif %}

{% if new_case %}
    {% if "post:cases" in permissions %}
    <div class="add">
        <p>The following new case is added:</p>
        <li><a href="/cases/{{ new_case.age_group }}"></a>{{ new_case.age_group }}, {{ new_case.total_num_case }}, {{ new_case.total_num_death }}, {{ new_case.total_num_intensivecare }}</li> 
    </div>
   {% endif%}
{% endif %}

{% if update_case %}
    {% if "patch:cases" in permissions %}
    <div class="modify">
        <p>The following case has been modified:</p>
        <li><a href="/cases/{{ update_case.age_group }}"></a>{{ update_case.age_group }}, {{ update_case.total_num_case }}, {{ update_case.total_num_death }}, {{ update_case.total_num_intensivecare }}</li> 
    </div>
   {% endif%}
{% endif %}

{% if delete_case %}
    {% if "delete:cases" in permissions %}
<div class="delete">
    <p>The case info for age group {{ delete_case }} has been deleted.</p>
    </div>
    {% endif %}
{% endif %}

{% endblock content %}