<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID</title>
</head>

<body>
    <h1>COVID SE 2021</h1>
    Here is some information about Covid situation in Sweden. You can <a href="https://fwddev.eu.auth0.com/authorize?audience=se_covid2021&response_type=token&client_id=9P90EvszrUfHRmp2AKTOiQsYUIbykQIn&redirect_uri=https://covid-se2021.herokuapp.com/">login here</a> to check the content. 
    <p><button id="Case Info"/>
      <script>
       document.getElementById("Case Info").addEventListener("click", myFunction);
       function myFunction() {
         window.location.href="https://covid-se2021.herokuapp.com/cases";  // http://127.0.0.1:5000/
       }
      </script>
      Cases Info
    </button></p>

    <p><a href="https://covid-se2021.herokuapp.com/cases/10-19">
        <button type="button">One example of case info by age group</button>
    </a></p>
    
    <p><a href="https://covid-se2021.herokuapp.com/vaccinations">
        <button type="button">Top 10 fully vaccinated groups across age & region</button>
    </a></p>

    <p><a href="https://covid-se2021.herokuapp.com/vaccinations/11">
        <button type="button">One example of vaccination info by id</button>
    </a></p>


</body>
</html>
